body,
html {
	height: 100%;
}
h1 {
	font-size: 28px;
	line-height: 36px;
	margin: 0;
	text-align: center;
}

.box-panel {
	padding: 25px;
	margin: 50px 0;
	border: 1px solid #0000005e;
	border-radius: 3px;
}
.box-panel section {
	padding-top: 35px;
}
.box-panel section .section-title {
	font-size: 24px;
	line-height: 28px;
	cursor: pointer;
	user-select: none;
}
.box-panel section.console .section-toggle {
	padding-top: 10px;
}
.box-panel section .methods {
	padding-left: 25px;
}
.box-panel section .method-title {
	font-weight: 600;
	cursor: pointer;
	user-select: none;
	font-style: italic;
	color: #8d8d8d;
	font-size: 18px;
}
.box-panel section .methods .method {
	padding-top: 15px;
}
.box-panel section .methods label {
	margin: 10px 0 5px;
}
.box-panel .console-textarea {
	margin-top: 15px;
}