<!DOCTYPE html>
<html>
<head>
	<title>Enjin Coin SDK Test Panel</title>
	<meta charset="utf-8">
	<meta name="description" content="Use this SDK test panel to simulate different actions available to you.">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/css/lib/bootstrap.min.css" rel="stylesheet">
	<link href="/css/test-panel.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="box-panel" id="app">
			<h1>Enjin Coin SDK Test Panel</h1>
			<section v-for="(section, sectionKey) in sections">
				<div class="section-title" v-on:click="toggleSection(sectionKey)">{{ section.title }}</div>
				<div class="section-toggle" v-show="section.open">
					<textarea rows="7" class="form-control console-textarea" v-model="section.value" v-if="sectionKey == 'console'"></textarea>
					<div class="methods">
						<div v-for="(method, methodKey) in section.methods" class="method">
							<div class="method-title" v-on:click="toggleMethod(sectionKey, methodKey)">{{ method.title }}</div>
							<div class="method-toggle" v-show="method.open">
								<div class="form-group row">
									<div v-for="param in method.params" class="col-6">
										<label class="form-label">{{ param.label }}</label>
										<input type="text" v-if="param.type == 'text'" v-model="param.value" class="form-control" />
										<input type="number" v-if="param.type == 'number'" v-model="param.value" class="form-control" />
										<select v-if="param.type == 'select'" v-model="param.value" class="form-control">
											<option v-for="(optionValue, optionKey) in param.options" :value="optionKey">{{ optionValue }}</option>
										</select>
									</div>
								</div>
								<div class="btn btn-sm btn-primary">Execute</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<!--
			<section class="console">
				<div class="section-title" v-on:click="toggleSection('console')">Console</div>
				<div class="section-toggle" v-show="sections.console.open">
					<textarea rows="7" class="form-control" v-model="sections.console.value"></textarea>
				</div>
			</section>
			<section class="identities">
				<div class="section-title" v-on:click="toggleSection('identities')">Identities</div>
				<div class="section-toggle" v-show="sections.identities.open">
					<div class="methods">
						<div class="method">
							<div class="method-title" v-on:click="toggleMethod('identities', 'get')">Identities.get</div>
							<div class="method-toggle" v-show="sections.identities.methods.get.open">
								<div class="form-group row">
									<div class="col-6">
										<label class="form-label">Identities</label>
										<input type="text" v-model="sections.identities.methods.get.params.identities" class="form-control" placeholder="Identities separated by commas" />
									</div>
									<div class="col-6">
										<label class="form-label">Linked</label>
										<select class="form-control" v-model="sections.identities.methods.get.params.linked">
											<option value="1">True</option>
											<option value="0">False</option>
										</select>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-6">
										<label class="form-label">After Identity ID</label>
										<input type="text" v-model="sections.identities.methods.get.params.afterIdentityId" class="form-control" />
									</div>
									<div class="col-6">
										<label class="form-label">Limit</label>
										<input type="number" v-model="sections.identities.methods.get.params.limit" class="form-control" />
									</div>
								</div>
								<div class="form-group row">
									<div class="col-6">
										<label class="form-label">Extra Fields</label>
										<input type="text" v-model="sections.identities.methods.get.params.extraFields" class="form-control" />
									</div>
									<div class="col-6">

									</div>
								</div>
								<div class="btn btn-sm btn-primary">Execute</div>
							</div>
						</div>
						<div class="method">
							<div class="method-title" v-on:click="toggleMethod('identities', 'create')">Identities.create</div>
							<div class="method-toggle" v-show="sections.identities.methods.create.open">
								<div class="form-group row">
									<div class="col-6">
										<label class="form-label">Identity</label>
										<input type="text" v-model="sections.identities.methods.get.params.identity" class="form-control" />
									</div>
									<div class="col-6">

									</div>
								</div>
								<div class="btn btn-sm btn-primary">Execute</div>
							</div>
						</div>
						<div class="method">
							<div class="method-title" v-on:click="toggleMethod('identities', 'field')">Identities.field</div>
							<div class="method-toggle" v-show="sections.identities.methods.field.open">
								<div class="form-group row">

								</div>
								<div class="btn btn-sm btn-primary">Execute</div>
							</div>
						</div>
						<div class="method">
							<div class="method-title" v-on:click="toggleMethod('identities', 'delete')">Identities.delete</div>
							<div class="method-toggle" v-show="sections.identities.methods.delete.open">
								<div class="form-group row">

								</div>
								<div class="btn btn-sm btn-primary">Execute</div>
							</div>
						</div>
						<div class="method">
							<div class="method-title" v-on:click="toggleMethod('identities', 'update')">Identities.update</div>
							<div class="method-toggle" v-show="sections.identities.methods.update.open">
								<div class="form-group row">

								</div>
								<div class="btn btn-sm btn-primary">Execute</div>
							</div>
						</div>
						<div class="method">
							<div class="method-title" v-on:click="toggleMethod('identities', 'link')">Identities.link</div>
							<div class="method-toggle" v-show="sections.identities.methods.link.open">
								<div class="form-group row">

								</div>
								<div class="btn btn-sm btn-primary">Execute</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="tokens">
				<div class="section-title" v-on:click="toggleSection('tokens')">Tokens</div>
				<div class="section-toggle" v-show="sections.tokens.open">
					tokens
				</div>
			</section>
			<section class="events">
				<div class="section-title" v-on:click="toggleSection('events')">Events</div>
				<div class="section-toggle" v-show="sections.events.open">
					events
				</div>
			</section>
			-->
		</div>
	</div>
</body>
<script src="/js/lib/vue.min.js"></script>
<script src="/js/test-panel.js"></script>
</html>
